<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		
	   <class name="API_TestCases.Login_With_OTP"/>
       <class name="API_TestCases.Add_Wallet"/>
       <class name="API_TestCases.Add_UPI"/>
       <class name="API_TestCases.Place_Redeem"/>
       <class name="API_TestCases.Redeem_Details"/>
       <class name="API_TestCases.Cancel_Redeem"/>
       <class name="API_TestCases.Redeem_Details"/>
       <class name="API_TestCases.Remove_UPI"/>
       <class name="API_TestCases.Remove_Wallet"/>
       <class name="API_TestCases.Redeem_Details"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
